:root {
    --rainbow: (90deg, #ff0000 0%, #ffa400 9%, #d5e800 19%, #72ff00 27%, #00ff5b 37%, #00ffa0 43%, #00fff6 54%, #00aeff 62%, #003bff 70%, #2506ff 76%, #5700ff 81%, #ad00ff 86%, #d800ff 94%, #ff0090 100%);
}
.grad {
    background: var(--rainbow);
    width: 300px;
        height: 300px;
}